.header {
  &__top {
    padding: 2rem;
    display: flex;
  }

  &__logo {
    font-size: 2.5rem;
    background: black;
    padding: 0.7rem 1.7rem;
    display: inline-block;
    border-radius: 10px;
    span {
      color: white;
    }
  }

  &__line {
    flex: 2;
    margin: 0 2rem;
    position: relative;
    overflow: hidden;
    &:after {
      top: 50%;
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: $gray-border; 
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logged-out-links {
    display: flex;
    font-size: 24px;
  }

  &__logged-in-links {
    display: flex;
    font-size: 17px;
  }

  &__link {
    margin: 0 0.7rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      background: $red-border;
      bottom: -7px;
      left: 0;
      transition: width 0.5s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__new-article {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: $box-border-radius;

    &:hover {
      background: #c3c3c3;
    }
  }


  &__new-article-text {
    font-size: 17px;
    padding-left: 1rem;

  }

  &__name {
    padding: 1rem;
    position: relative;
    border-top-left-radius: $box-border-radius;
    border-top-right-radius: $box-border-radius;
    cursor: pointer;

    &:hover {
      background: grey;
      background: #c3c3c3;

      & > .header__dropdown-menu {
        display: flex;
      }
    }
  }

  &__name-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
  }

  &__name-img {
    height: 10px;
  }

  &__dropdown-menu {
    position: absolute;
    right: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    z-index: 100;
    margin-top: 1rem;

  }

  &__dropdown-menu-link {
    padding: 1rem;
    background: #f8f8f8;

    &:hover {
      background: darken(#f8f8f8, 15%);
    }

    &:last-of-type {
      border-bottom-left-radius: $box-border-radius;
      border-bottom-right-radius: $box-border-radius;
    }
  }

  &__cats {
    background: #e1e0e0;
    font-size: 1.3rem;
    border-radius: 5px;
    margin: 0 2rem;
    white-space: nowrap;
  }

  &__cats-inner {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }

  &__cat {
    height: 100%;
    display: block;
    padding: 1rem;
    border-radius: 5px;

    &:hover {
      background: darken(#e1e0e0, 10%);
    }
  }
}
