.header-top {
  padding: 2rem;
  display: flex;
  .logo {
    font-size: 2.5rem;
    background: black;
    padding: 0.7rem 1.7rem;
    display: inline-block;
    border-radius: 10px;
    span {
      color: white;
    }
  }
  
  .header-line-container {
    flex: 2;
    margin: 0 2rem;
    position: relative;
    overflow: hidden;
    &:after {
      top: 50%;
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: $gray-border; 
    }
  }

  .header-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-links {
    font-size: 24px;

    a {
      margin: 0 0.7rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background: $red-border;
        bottom: -2px;
        left: 0;
        transition: width 0.5s;
      }

      &:hover::after {
        width: 100%;
      }
    }

  }
}

.category-links-container {
  background: #e1e0e0;
  padding: 1rem;
  font-size: 1.5rem;

  &-inner {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
}
