.post {
  display: flex;
  padding: 1rem 0;
  border-radius: $box-border-radius;
  overflow: hidden;
  
  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  &__left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }

  &__img-link {
    display: block;
    width: 200px;
    max-height: 135px;
    overflow: hidden;
    border-radius: $box-border-radius;

    .post__img {
      display: block;
      width: 200px;
      transform: scale(1);
      border-radius: $box-border-radius;
    }
  }

  &:hover {
    .post__img {
      transform: scale(1.05);
      transition: 1s;
    }
  }


  &__right-col {
    padding-left: 1rem;
  }

  &__catgr {
    color: $category-fg;
    font-family: "PT Sans";
    font-size: 1.2rem;
    position: relative;

    &:hover {
      color: $category-hover-fg;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background: black;
        bottom: 1px;
      }
    }
  }

  &__body {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    word-break: break-all;

    &-text {
      display: inline;
    }
  }

  &__header {
    font-weight: 300;
    margin: 0;
    padding: 0;
    word-break: break-all;
  }

  &__data {
    padding-top: 0.5rem;
    font-family: "PT Sans";
    color: $post-additional-info-fg;
    display: flex;
  }

  &__data {

    a {
      padding: 0 0.1rem;
      
      &:hover {
        color: $post-additional-info-link-hover;
        border-bottom: 1px solid $post-additional-info-fg;
      }
    }

  }

  &__read-more {
    color: $post-read-more;

    &:hover {
      color: $post-read-more-hover;
    }
  }

  &__data-item:first-child {
    padding-right: 0.5rem;
  }

  &__data-item:not(:first-child) {
    padding: 0 0.5rem;
  }

  &__data-item:not(:last-child) {
    border-right: 1px solid $gray-border;
  }

  &__data-item-author:hover {
    border-bottom: 1px solid $gray-border;
  }

  &:nth-of-type(even) {
    border-left: 10px solid $black-border;
    &:hover {
      background-color: $post-even-hover-color;
    }
  }

  &:nth-of-type(odd) {
    border-left: 10px solid $red-border;
    &:hover {
      background-color: $post-odd-hover-color;
    }
  }
}
