.ad-wgt {
  width: 336px;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 1rem 0;

  &__link {
    width: 100%;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }
}

.pop-now-wgt {
  overflow: hidden;

  &__animated-border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #000;
  }

  &__time-btns {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .time-btns-active {
  }

  
  &__time-btn {
    padding-bottom: 0.7rem;
    font-size: 0.8rem;
  }

  &__header {
    font-size: inherit;
    border-bottom: 1px solid $gray-border;
  }

  &__main-header {
    font-size: 2rem;
  }

  &__btn-cont {
    text-align: center;
  }
}

.widget-post {
  margin: 1.6rem 0;

  .widget-post-category {
    font-family: "PT Sans";
    font-size: 0.9rem;
    color: $widget-post-additional-info-color;

    &:hover {
      color: #000;
    }
  }

  .widget-post-title {
    font-weight: 300;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
  }

  .widget-post-data {
    font-family: "PT Sans";
    display: flex;
    justify-content: space-between;

    &__item {
      color: $widget-post-additional-info-color;
      width: 100%;
      position: relative;
      font-size: 0.9rem;
      display: block;
      text-align: center;
      align-items: center;

      a:hover {
        color: $widget-post-additional-info-link-hover;
      }
    }

    &__item:nth-child(3) {
      width: 125%;
      text-align: center;
    }

    &__item:first-child {
      text-align: left;
    }

    &__item:not(:last-child)::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 1px;
      background: $widget-post-additional-info-color;
      right: -2px;
      top: 0;
    }
  }
}


.down-arrow-btn {
  padding-top: 0.2rem;
  display: inline-block;

  &-img {
    width: 36px;
  }
}


.top-rated-wgt {
  &__main-header {
    font-size: 2rem;
    padding-bottom: 0.7rem;
  }

  &__animated-border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #000;
  }

  &__header {
    border-bottom: 1px solid $gray-border;
  }

  &__btn-cont {
    text-align: center;
  }

  &__time-btns {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  
  &__time-btn {
    padding-bottom: 0.7rem;
    font-size: 0.8rem;
  }

  &__header {
    font-size: inherit;
    border-bottom: 1px solid $gray-border;
  }

  &__main-header {
    font-size: 2rem;
  }

  &__btn-cont {
    text-align: center;
  }
}

.recent-by-author-wgt {
  &__header {
    padding: 1rem;
  }

  &__header-main {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  &__subheader {
    padding: 0;
    margin: 0;
    font-weight: 300;
    text-align: center;
    color: $recent-posts-by-author-header;
  }

  &__btn-cont {
    text-align: center;
  }
}

.premium-ad-wgt {
  margin: 3rem 0;

  &__img {
    width: 100%;
  }
}


.footer-widget {
  color: $footer-links-color;
  padding: 1rem;

  .widget-footer-links {
    display: flex;
    justify-content: space-between;
  }

  .footer-copy {
    text-align: center;
    margin-top: 1rem;
  }
}
