.widget-post {
  margin: 1.6rem 0;

  .widget-post-category {
    font-family: "PT Sans";
    font-size: 0.9rem;
    color: $widget-post-additional-info-color;
  }

  .widget-post-title {
    font-weight: 300;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
    text-align: justify;
  }

  .widget-post-data {
    font-family: "PT Sans";
    display: flex;
    justify-content: space-between;

    span {
      color: $widget-post-additional-info-color;
      position: relative;
      flex: 33;
      font-size: 0.9rem;
      display: block;
      text-align: center;
      align-items: center;
    }

    span:first-child {
      text-align: left;
    }

    span:not(:last-child)::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 1px;
      background: $widget-post-additional-info-color;
      right: -2px;
    }
    span:first-child::after {
    }
  }
}

.popular-now-down-button-container {
  text-align: center;
  padding: 1rem 0;

}

.top-rated-down-button-container {
  text-align: center;
  padding: 1rem 0;

}

.down-arrow-button {
  font-size: 3rem;
  display: inline-block;
  margin-top: 2rem;
}

.popular-now-widget {
  font-size: 120%;

  &__main-header {
    font-size: 2rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid $gray-border;
  }
}

.top-rated-widget {
  &__main-header {
    font-size: 2rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid $gray-border;
  }

}

.footer-widget {
  color: $footer-links-color;

  .widget-footer-links {
    display: flex;
    justify-content: space-between;
  }

  .footer-copy {
    text-align: center;
    margin-top: 1rem;
  }
}
