%footer.footer
  .footer__inner
    %a.footer__link{ :href => "#" } Help
    %a.footer__link{ :href => "#" } Status
    %a.footer__link{ :href => "#" } Writers
    %a.footer__link{ :href .footer__link=> "#" } Blog
    %a.footer__link{ :href => "#" } Careers
    %a.footer__link{ :href => "#" } Privacy
    %a.footer__link{ :href => "#" } Terms
    %a.footer__link{ :href => "#" } About
