%header
  .header-top
    %a.logo{ :href => root_path }
      %span Writr
    .header-line-container
    .header-links-container
      .header-links
        %a{:href => "google.com"} Login
        %a{:href => "google.com"} Register

  .category-links-container
    %div.category-links-container-inner 
      %a
        Home  
      %a
        Doubt 
      %a
        Culture 
      %a
        Tech
      %a
        Startups 
      %a
        Self    
      %a
        Politcs   
      %a
        Design    
      %a
        Health
