%header.header
  .header__top
    %a.header__logo{ :href => root_path }
      %span Writr
    .header__line
    .header__links
      .header__links-inner
        %a.header__link{:href => "google.com"} Login
        %a.header__link{:href => "google.com"} Register

  .header__cats
    .header__cats-inner
      %a.header__cat{ :href => "#" }
        Home  
      %a.header__cat{ :href => "#" }
        Doubt 
      %a.header__cat{ :href => "#" }
        Culture 
      %a.header__cat{ :href => "#" }
        Tech
      %a.header__cat{ :href => "#" }
        Startups 
      %a.header__cat{ :href => "#" }
        Self    
      %a.header__cat{ :href => "#" }
        Politcs   
      %a.header__cat{ :href => "#" }
        Design    
      %a.header__cat{ :href => "#" }
        Health
