.widget-post
  %a.widget-post-category{ :href => "#" } Books
  %h1.widget-post-title 
    %a{ :href => "#" } Ipsum dolorem delectus nostrum
  .widget-post-data
    %span.star-rating Amet nemo 
    %span.reading-time 5 min read
    %span.author 
      %a{ :href => "#" } John Doe
