.profile-bg
  .profile-row-info
    .profile-col-left
      .profile-name Jane Doe
      = image_tag @user.avatar.url, class: "profile-avatar"
    .profile-col-right
      .profile-bio 
        %h1 Bio
        %hr
        %p Amet unde eum enim vitae saepe. Sit reprehenderit assumenda laudantium quibusdam doloribus. Excepturi illum porro nostrum porro impedit tempore ipsam ducimus odit nihil. Eum nulla accusamus ratione amet iusto temporibus

.profile-main-container
  .profile-friends
    %h1.profile-friends-header Friends
    - 3.times do
      .profile-friend
        = image_tag asset_url("post_sample_image.png"), class: "profile-friend__avatar"
        .profile-friend__name John Doe
  .profile-articles
    %h1.profile-articles-main-header Articles

    - @articles.each do |article|
      = render partial: 'shared/profile_post', locals: { article: article }

    %a.profile-load-more-btn{ href: "#" }
      Load more
        
:scss
  .profile-bg {
    background: url("#{@user.profile_background.url(:medium)}");
    background-size: cover;
  }
