/* Front Page Variables */

/* POST STYLING */

$gray-border: #c4c4c4;
$red-border: #ab1212;
$black-border: #000;

$post-even-hover-color: #e7e7e7;
$post-odd-hover-color: #eddede;

$footer-links-color: #b5b5b5;

$category-fg: #9e9e9e;
$category-hover-fg: #000;

$post-additional-info-fg: #707070;
$post-additional-info-link-hover: #000;


/* POST STYLING END */




/* Widget styling */

$widget-post-additional-info-color: #707070;
$widget-post-additional-info-link-hover: #000;

$recent-posts-by-author-header: #1e1e1e;

/* WIDGET STYLING END */


/* INTERACTIVE PANELS */
$interactive-panel-bg: #e7e7e7;
/* INTERACTIVE PANELS END */




/* Article View Variables */

$text-bg-color: #f3f3f3;

$article-view-widget-header-bg: #ebebeb;


$article-view-footer-bg: #f3f3f3;
$article-view-footer-fg: #7e7979;
$article-view-footer-border: #d8d6d6;

/* article view comment section */

$comment-user-name-text: #3e7bb4;



/* ARTICLE VIEW END */


