@import 'vendors/normalize';

@import 'abstract/variables';

@import 'shared/widgets';

@import 'shared/header';
@import 'shared/footer';
@import 'shared/post';

@import 'index';
@import 'articles/view_article';
@import 'articles/view_article_comment_section';
@import 'articles/new_article';
@import 'articles/browse_drafts';

@import 'categories/browse_by_cat';
@import 'pages/settings';

@import 'profile_pages/show';

@import 'devise/log_in';
@import 'devise/new_registration';
@import 'devise/forgot_pwd';
@import 'devise/shared';

@import 'vendors/card';
@import 'vendors/card-js.min';

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
}

a {
  color: inherit;
  text-decoration: none;
}
