@import 'vendor/normalize';

@import 'abstract/variables';

@import 'shared/widgets';

@import 'shared/header';
@import 'shared/footer';
@import 'shared/post';

@import 'front_page';
@import 'view_article';
@import 'view_article_comment_section';
@import 'new_article';

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
}

a {
  color: inherit;
  text-decoration: none;
}
