* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.advertisement-square-top {
  background: gray;
  width: 336px;
  height: 280px;
}

.main-body {
  padding: 2rem 1rem;
  display: flex;
}

.post {
  display: flex;
  padding: 1rem 0;

  .post-category {
    color: #9e9e9e;
    font-family: "PT Sans";
    font-size: 1.2rem;
  }

  .post-header {
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .post-data {
    padding-top: 0.5rem;
    font-family: "PT Sans";
    color: #707070;

    .post-data-item:first-child {
      padding-right: 0.5rem;
    }

    .post-data-item:not(:first-child) {
      padding: 0 0.5rem;
    }

    .post-data-item:not(:last-child) {
      border-right: 1px solid $gray-border;
    }
  }

  .post-right {
    padding-left: 1rem;
  }

  .post-body {
    padding: 1rem 0;
  }

  .post-image-container {
    display: block;
    width: 200px;
    overflow: hidden;
  }

  .post-image {
    width: 200px;
    background: red;
    transform: scale(1);
  }

  &:nth-child(even) {
    border-left: 10px solid $black-border;
    &:hover {
      background-color: $post-even-hover-color;
    }
  }

  &:nth-child(odd) {
    border-left: 10px solid $red-border;
    &:hover {
      background-color: $post-odd-hover-color;
    }
  }
}

.post:hover {
  .post-image {
    transform: scale(1.05);
    transition: 1s;
  }
}

.col-widgets {
  padding: 1rem;
}

