* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.advertisement-square-top {
  background: gray;
  width: 336px;
  height: 280px;
}

.main-body {
  padding: 2rem 1rem;
  display: flex;
}

.post {
  display: flex;
  padding: 1rem 0;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    display: block;
    width: 200px;
    overflow: hidden;
    img {
      width: 200px;
      transform: scale(1);
    }
  }


  &__right {
    padding-left: 1rem;
  }

  &__catgr {
    color: $category-fg;
    font-family: "PT Sans";
    font-size: 1.2rem;
    position: relative;
  }


  .post-body {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }

  .post-cat:hover {
    color: $category-hover-fg;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background: black;
      bottom: 1px;
    }
  }

  .post-header {
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .post-data {
    padding-top: 0.5rem;
    font-family: "PT Sans";
    color: $post-additional-info-fg;

    .post-data-item {

      a {
        padding: 0 0.1rem;

        &:hover {
          color: $post-additional-info-link-hover;
          border-bottom: 1px solid $post-additional-info-fg;
        }
      }

    }

    .post-data-item:first-child {
      padding-right: 0.5rem;
    }

    .post-data-item:not(:first-child) {
      padding: 0 0.5rem;
    }

    .post-data-item:not(:last-child) {
      border-right: 1px solid $gray-border;
    }

    .post-data-item-author:hover {
      border-bottom: 1px solid $gray-border;

    }
  }

  &:nth-child(even) {
    border-left: 10px solid $black-border;
    &:hover {
      background-color: $post-even-hover-color;
    }
  }

  &:nth-child(odd) {
    border-left: 10px solid $red-border;
    &:hover {
      background-color: $post-odd-hover-color;
    }
  }
}

.post:hover {
  .post-image {
    transform: scale(1.05);
    transition: 1s;
  }
}

.col-widgets {
  padding: 1rem;
}

