/* Front Page Variables */

$gray-border: #c4c4c4;
$red-border: #ab1212;
$black-border: #000;

$post-even-hover-color: #e7e7e7;
$post-odd-hover-color: #eddede;

$footer-links-color: #b5b5b5;

/* ---------------------- */

/* Widget styling */

$widget-post-additional-info-color: #707070;


/* ---------------------- */





/* Article View Variables */

$text-bg-color: #f3f3f3;
$recent-posts-by-author-bg: #ebebeb;
$recent-posts-by-author-header: #1e1e1e;


$article-view-footer-bg: #f3f3f3;
$article-view-footer-fg: #7e7979;
$article-view-footer-border: #d8d6d6;
/* ---------------------- */
