/* Front Page Variables */

$gray-border: #c4c4c4;
$red-border: #ab1212;
$black-border: #000;

$post-even-hover-color: #e7e7e7;
$post-odd-hover-color: #eddede;

/* ---------------------- */




/* Article View Variables */

$text-bg-color: #f3f3f3;
$recent-posts-by-author-bg: #ebebeb;
$recent-posts-by-author-header: #1e1e1e;
$footer-links-color: #b5b5b5;
/* ---------------------- */
