.top-rated-wgt
  %h1.top-rated-wgt__main-header
    Top Rated

  - 3.times do
    = render 'shared/widgets/widget_post'

  .top-rated-wgt__btn-cont
    %a.top-rated-wgt__down-btn.down-arrow-btn{ :href => "#" }
      = image_tag asset_path("down_arrow.svg"), class: "down-arrow-btn-img"
